<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1933b92b-b7e3-4d0d-9c00-a8aba8ae251c/resourceGroups/my-first-try/providers/Microsoft.ContainerRegistry/registries/DavidDeviceManagement</ResourceId>
    <ResourceName>DavidDeviceManagement</ResourceName>
    <ResourceGroup>my-first-try</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://daviddevicemanagement.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7bff9a08-a5c6-4091-a406-6d5b8f9dccaa</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>